@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

$lighter-primary-color: #76f2d3;
$primary-color: #37BF9F;
$medium-primary-color: #27856F;
$monotone-primary-color: #515e5b;
$darker-primary-color: #164A3E;
$darkest-primary-color: #0D2D25;
$lighter-secondary-color: #AAF0B0;
$secondary-color: #37BF43;
$transparent-lighter-secondary-color: #1e6724be;
$medium-secondary-color: #1e6724;
$darker-secondary-color: #164A1A;
$darkest-secondary-color: #171B18;
$transparent-secondary-color: #164A1Abe;
$transparent-lighter-tertiary-color: #6B8426be;
$tertiary-color: #9BBF37;
$medium-tertiary-color: #6B8426;
$darker-tertiary-color: #3C4A16;
$transparent-tertiary-color: #3C4A16be;
$lighter-quaternary-color: #6cbcf0;
$quaternary-color: #409FDE;
$medium-quaternary-color: #2F75A4;
$darker-quaternary-color: #1E4B69;
$primary-font-color:#ffffff;
$secondary-font-color: #000000;
$dark-grey:#666666;
$light-grey: #bbbbbb;

@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}



$pixel-0: 0px;
$pixel-8: 8px;
$pixel-10: 10px;
$pixel-15: 15px;
$pixel-20: 20px;
$pixel-25: 25px;
$pixel-30: 30px;
$pixel-50: 50px;
$pixel-60: 60px;
$percent-0: 0%;
$percent-10: 10%;
$percent-80: 80%;
$percent-100: 100%;

/* display */

$display-block: block;
$display-grid: grid;
$display-flex: flex;

/* mixins */

@mixin margin($value1: $pixel-20, $value2: $pixel-30) {
    margin-top: 20px;
    margin-bottom: 30px;
}

@mixin box-style($background: $lighter-primary-color, $shadow: $secondary-font-color, $value: $pixel-0) {
    background-color: $background;
    box-shadow: $value $value 50px 0px $shadow;
}

@mixin margin-auto($auto: auto) {
    margin-left: $auto;
    margin-right: $auto;
}

@mixin border-values($style: none, $color: $dark-grey, $width: 2px, $radius: 2px) {
    border-style: $style;
    border-color: $color;
    border-width: $width;
    border-radius: $radius;
}

@mixin colors($background: $secondary-font-color, $text: $secondary-font-color) {
    background-color: $background;
    color: $text;
}

/* tags */

h1, h2, h3, a {
    font-family: Reddit Sans, Calibri, sans-serif;
}

p, pre, label {
    font-family: Reddit Sans, Arial, serif;
}

article {
    grid-column-start: 2;
    @include margin-auto;
    height: $percent-100;
}

body {
    margin: $pixel-0;
    @include colors($medium-primary-color, $secondary-font-color);

    &.dark-mode {
        @include colors($darker-primary-color, $primary-font-color);
    }
}

footer {
    margin: $pixel-0;
    @include colors($darker-secondary-color, $primary-font-color);

    &.dark-mode{
        background-color: $darkest-secondary-color !important;
    }

    > p{
        @include margin($value1: $pixel-8, $value2: $pixel-0);
        padding: $pixel-15;
        width: $percent-80;
    }   
}

main {
    display: $display-grid;
    grid-template-columns: $percent-10 $percent-80 $percent-10;
    grid-template-rows: $percent-10 $percent-80 $percent-10;
    margin-top: $pixel-30;
}

nav {
    width: $percent-100;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;

    a {
        display: block;
        flex: 1 1 $percent-100;
        text-decoration: none;
    }

    ul {
        text-align: center;
    }

    svg {
        padding-left: $pixel-10;
    }
}


/* classes */

.banner {
    grid-column: 2 / span 3;
    grid-row: 1 / span 1;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -30px;
    text-align: center;
    width: 100%;
    height: 38px;
    @include colors($darker-quaternary-color, $primary-font-color);
}

.card_link {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}

.circle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: $pixel-50;
    height: $pixel-50;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    font-size: 2.25em;
    @include border-values(solid, $dark-grey, 3px, $pixel-25);
    @include box-style($primary-font-color, $secondary-font-color, $pixel-0);
    
    &.dark-mode {
        border-color: $light-grey;
        color: $primary-font-color;
        @include box-style($secondary-font-color, $dark-grey, $pixel-0);
    }
}

.dark_mode {
    color: $primary-font-color;
    padding: 20px;
    border-radius: 25px;
    @include box-style($primary-color, $secondary-font-color, $pixel-10);
}

.footer_social {
    width: 80%;

    > ul {
        list-style-type: none;
        text-align: left;
      }
}

.hero {
    &_image {
        height: 75%;
        max-height: 1000px;
        width: 100%;
        z-index: 0;
        object-fit: cover;  
    }
        
    &_text {
        display: block;
        padding: 20px;
        margin-top: -10px;
        @include colors($transparent-secondary-color, $primary-font-color);
        text-align: center;

        h2 {
            font-size: 2em;
            font-weight: 300;
            margin:0;
        }

        svg {
            width: 300px;

            image {
                width: 300px;
            }
        }
    }

    &_countdown {
        display: block;
        grid-template-columns: repeat(13, 20px 1fr) ;
        padding: 20px;
        margin-top: 0px;
        @include colors($transparent-tertiary-color, $primary-font-color);
        text-align: center;

        label {
            font-size: 3em;
            outline: $secondary-color;
            outline-width: 2px;
            text-shadow: 0 5px 10px $lighter-secondary-color;
        }

        p {
            font-size: 1.5em;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.nav {
    &_bar {
        display:flex;
        border-bottom: 10px;
        border-color: $secondary-color;
    }
      
    &_items {
        list-style-type: none;
        border-bottom: 5px;
        border-color: $secondary-color;
        margin: 0;
        padding-left: 0px;
        overflow: hidden;
        width: 100%;
        @include colors($darkest-secondary-color, $primary-font-color);

        &.dark-mode{
            background-color: $darkest-secondary-color;
        }
    }

    &_link_container {
        text-align: center;
    }
      
    &_links{
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

.page_link {
    display: none;
    padding-top: 20px;
    padding-bottom: 19px;
    display: block;
    min-width: 200px;
    font-weight: 400;
    font-size: 1em;
    @include colors($darkest-secondary-color, $primary-font-color);

    &:hover {
        @include colors($tertiary-color, $secondary-font-color); 
        font-weight: 700;
        &.dark-mode {
            @include colors($medium-tertiary-color, $darker-quaternary-color);
        }
    }

    &.dark-mode {
        background-color: $darkest-secondary-color;
    }
}

.row {
    &_1 {
        @include margin;
        padding: 20px;
        color: $secondary-font-color;
        border-radius: 25px;
        @include box-style ($lighter-primary-color, $secondary-font-color, $pixel-10);
        margin-top: 40px;
        height: 80%;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    &_2{
        @include margin;
        padding: 20px;
        color: $secondary-font-color;
        border-radius: 25px;
        @include box-style ($lighter-primary-color, $secondary-font-color, $pixel-10);
        margin-top: 40px;
        height: 70%;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    &.dark-mode{
        @include colors($primary-color, $primary-font-color);
    }

    > p {
        max-width: 600px;
    }

    &_image {
        &_horizontal {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            @include margin-auto;
            max-width: 250px;
        }

        &_vertical {
            display: flex;
            min-width: 150px;
            border-radius: 15px;
            @include margin-auto;
            max-width: 250px;
        }
    }

    &_button {
        display: inline-block;
        padding: 9px;
        @include colors($secondary-color, $primary-font-color);
        @include border-values (solid, $darker-secondary-color, 2px, 15px);
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            background-color: $medium-secondary-color;
            font-weight:bold;
        }

        &.dark-mode {
            background-color: $darker-secondary-color;
            border-color: $secondary-color;

            &:hover {
                background-color: $medium-secondary-color;
            }
        }
    }

    &_header {
        font-size: 1.5em;
        @include colors($lighter-primary-color, $darker-primary-color);

        &.dark-mode{
            @include colors($primary-color, $primary-font-color);
        }
    }

    > h3 {
        font-size: 1em;
        @include colors($lighter-primary-color, $darker-secondary-color);
    }
}

.show {
    display:none;
}
  
.social_container {
    display: block;
    margin-left: 0%;
    width: 18%;
}

/* IDs */

#alt_hero_image {
    background-color: $transparent-tertiary-color;
  }
  
#dropDown {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    height: 40px;
    width: 40px;
    @include colors ($darker-secondary-color, $primary-font-color);
    border-style: none;
    border-radius: 25px;
    transition: background-color 1s;

    &:focus {
        @include colors($lighter-secondary-color, $secondary-font-color);
        @include border-values (solid, $medium-secondary-color, 2px, 5px);
        transition: background-color 1s;
        border-radius: 25px;
      }
}
  
  #hidden_link {
    text-decoration: none;
    @include colors($darker-secondary-color, $primary-font-color);
}

#home_link {
    position: relative;
    font-weight: 600;
    min-width: 200px;
    @include colors($lighter-secondary-color, $primary-font-color);
    flex-grow: 4;
    align-self: auto;

    &:hover {
        @include colors($lighter-secondary-color, $lighter-secondary-color);
        box-shadow: 0px 0px 50px 60px $lighter-secondary-color;
        font-weight: bolder;
        animation: logoGlow 0.25s ease-in;
    
        &.dark-mode {
            @include colors($secondary-color, $primary-font-color);
        }
    }

    &.dark-mode {
        background-color: $medium-secondary-color;
    }
}